
{% for m in collections.members | sortByCategory %}

<section class="section-xxl member-hero hero-{% if loop.index%2 == 1 %}odd{% else %}even{% endif %} wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-4 col-md-4 col-sm-4 img-hero-wrapper">
                    <img src="{{ m.data.profile_img | url }}"
                alt="{{m.data.full_name}}" class="img-hero">
                
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 hero-content">
            
                <div class="">
                    <h4><a href="{{ m.url }}">{{m.data.full_name}}, <small>{{m.data.credentials}}</small></a> </h4>
                    <small class="text-muted"> {{m.data.position}} </small>
                    <hr>
                    <p>
                        {{ m.data.presentation | safe}}
                    <p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}

