<div class="bcard clickable rounded h-100" onclick="window.open(`{{m.url | url}}`, `_blank`)">   
    <div class="member_card__header card-body align-items-center">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <img src="{{ m.data.profile_img | url }}"
                alt="" class="img-fluid">
            </div>
            <div class="member_card__info ms-3">
                <p class="align-items-center">
                    <b>{{m.data.full_name}}, <small>{{m.data.credentials}}</small> </b> <br>
                    
                <small class="text-muted"><i> {{m.data.position}}</i> </small>
                </p>
                
            </div>
            
        </div>
        {# <hr> #}
    </div>

    <div class="container">
        
        <hr>
        <smal class="text-muted">
        {{ m.data.keywords }}
        </smal>

        <p>
            <a type="button" class="btn btn-outline-dark btn-rounded btn-sm"
                data-mdb-ripple-color="dark" href="{{ m.url }}"><i class="fas fa-link"></i> </a>
            <a type="button" class="btn btn-outline-dark btn-rounded btn-sm" href="mailto:{{ m.data.social.email }}"
                data-mdb-ripple-color="dark"><i class="fas fa-envelope"></i></a>

                         {% if m.data.social.researchgate %}
                            <a href="{{ m.data.social.researchgate | url}}" class="btn btn-outline-dark btn-floating btn-sm"
                data-mdb-ripple-color="light" target="_blank" rel="noopener noreferrer"><i class="fab fa-researchgate"></i></a>
                         {% endif %}

                         {% if m.data.social.twitter %}
                            <a href="{{ m.data.social.twitter | url}}" class="btn btn-outline-dark btn-floating btn-sm"
                data-mdb-ripple-color="light" target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                         {% endif %}

                         {% if m.data.social.linkedin %}
                            <a href="{{ m.data.social.linkedin | url}}" class="btn btn-outline-dark btn-floating btn-sm"
                data-mdb-ripple-color="light" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                         {% endif %}
        </p>
    </div>
</div>