<div class="container-xxl py-6">
  <div class="container">
      <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s">
          {# <h2 class="divider mb-5">Team Members</h2> #}
        <h1 class="headline"><span>Our team</span></h1>

      </div>
      <div class="row team_card__container g-4">


      {%- for m in collections.members -%}
      {# <div class="member_card col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" data-bs-toggle="modal" href="#profileModal-{{ m.data.full_name | slug }}"> #}
      <div class="member_card col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" onclick="window.location.href='{{m.url | url}}'">  
          
          {% include "./partials/member_card_single.njk" %}   
            
         
      </div>
      {%- endfor -%}

    </div>
                  
  </div>
</div>

{% include "layouts/team/modals/team_members_modals.njk" %}


