{% extends "layouts/base.njk" %}

{% block page_header %}
{% include "./partials/home_header.njk" %}
{% endblock %}


{% block page_main_content %}
   <div class="container-xxl row  mb-5 py-6">
            {# <div class="col-lg-8"> #}
            <div class="col-md-8">
                 {% block page_content_left %}
                    {% include "./partials/front_content.njk" %}
                {% endblock %}
               
            </div>    
            {# </div> #}
            <div class="col-md-4">
                {% block page_sidepanel_right %}
                    {% include "layouts/widgets/right_panel.njk" %}
                {% endblock %}

            </div>
        </div>
{% endblock %}



{% block widgets_middle %}
   {% include "layouts/widgets/middle_content.njk" %}
{% endblock %}


{% block widget_bottom %}
   {% include "layouts/widgets/latest_blogs.njk" %}
{% endblock %}
