<div class="container">
    {% for tag in tags %}
        {% if tag not in ["topics", "blog"] %}
            <span class="btn btn-tag">{{tag | capitalize}}</span>
        {% endif %}
    {% endfor %}
</div>
