{% extends "layouts/base.njk" %}

{% block page_header %}
{% include "layouts/page_header.njk" %}
{% endblock %}


{% block page_main_content %}
<div class="container-xxl">
    <div class="col-md-6 mx-auto ml-2">  
        {% for e in collections.events | reverse %}
        {# <div class="list-group-item list-group-item-action flex-column align-items-start"> #}
            <div class="bcard list-group-item list-group-item-action flex-column align-items-start mb-2" data-bs-toggle="collapse" role="button" href="#news-{{ e.data.title|slugify }}" aria-expanded="false" aria-controls="news-{{ e.data.title|slugify }}">
               {% if e.data.type %}<p><span class="badge btn-{{ e.data.type }}">{{ e.data.type }}</span></p>{% endif %}
              
               <h5>{{e.data.title}}</h5>
               <p class="mb-1"> <i class="fas fa-calendar-alt"></i> <small class="text-muted"> {{ e.data.date | readableDate }} {% if e.data.end_date %} &#8213; {{ e.data.end_date | readableDate }}{% endif %} </small></p> 
                {% if e.data.speaker %}
                    <p><i class="fas fa-microphone-alt"></i> <b> {{ e.data.speaker }} </b></p>
                {% endif %}
                {% if e.data.organizers %}
                    <p><i class="fas fa-edit"></i> Organizers: <b> {{ e.data.organizers }} </b></p>
                {% endif %}
                <p><i class="fas fa-map-marker-alt"></i> {{ e.data.location }} </p>

                {% if e.data.notes_file %}
                <p><span class="badge bg-secondary" type='button' onclick="window.open('{{e.data.notes_file}}', '_blank')"><i class="fas fa-file-pdf"></i>  Slides available</span></p>
                {% endif %}

                {% if e.data.video %}
                <p><i class="fab fa-youtube"></i> <span class="btn btn-outline-danger btn-social" onclick="window.open('{{e.data.video | url}}', '_blank')">Video</span></p>
                {% endif %}

                <div class="text-center arrow">
                    <i class="fa fa-chevron-down"></i>
                </div> 
            </div> 
        {# </div> #}
        <div class="collapse" id="news-{{ e.data.title|slugify }}">
            <div class="card-body">
                {{ e.templateContent|safe }}
            </div>
        </div>     
        {% endfor %}
    </div>
</div>
{% endblock %}