{% for member in collections.members %}

{# Profile modal popup #}
<div class="description-modal modal fade" id="profileModal-{{ member.data.full_name | slug }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                {# <div class="row"> #}
                    {# <div class="container"> #}
                        <div class="modal-body">
                            <div class="member_profile_modal__cover d-flex align-items-center">
                                <div class="flex-shrink-0">
                                <img class="member_profile_modal___profile_img" src="{{member.data.profile_img}}"
                                    alt="" class="img-fluid">
                                </div>
                                <div class="member_profile_modal__headers ms-3">
                                <p class="align-items-center">
                                    <h5>{{member.data.full_name}}, <small>{{member.data.credentials}}</small> </h5>
                                    
                                    
                                </p>
                                
                                </div>
                                
                                </div>
                            </div>
                            
                            <div class="col-md-8 mx-auto mt-4" style="text-align: left;">
                                {{ member.templateContent | safe }}

                            </div>
                            
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    {# </div> #}
                {# </div> #}
            </div>
        </div>
    </div>
</div>
    
{% endfor %}