<section id="home">
    <!-- Header -->
	<div class="intro-header">
		{# <div class=""> #}
			{# <div class="row"> #}
				<div class="showcase col-lg-12">
                    <video id="bground-video" autoplay loop playsinline muted>
                        <source src="{{ site.backgroundVid | url }}" type="video/mp4">
                    </video>
					<div class="intro-message">
                        <div class="main-teaser">
                            <h1 class="text-white animated zoomIn">{{ site.mainTeaser |safe }}</h1>
                        </div>
                        <div class="container main-title">
                            <hr class="intro-divider">
                           <h4 class="text-white animated zoomIn">{{ site.homeTitle |safe }}</h4>
                        </div>
					</div>
				</div>
			{# </div> #}
		{# </div> #}
		<!-- /.container -->
	</div>

    {# {% include "./partners.njk" %} #}

	<!-- /.intro-header -->
</section>

