
<div class="container-xxl bg-primary bg-header h-100">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="text-white mb-4 animated zoomIn">{{ site.homeTitle |safe }}</h1>
                <div class="container">
                {% for t in site.homeTeasers %}
                   <p class="text-white pb-3 animated zoomIn" style="font">  <i class="fas fa-angle-double-right"></i>  {{ t |safe }} </p>

                {% endfor %}
                </div>
                {# <p class="text-white pb-3 animated zoomIn" style="font"> {{ site.homeTeasers |safe }} </p> #}
                {# <a href="" class="btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight">More ...</a> #}
            </div>
           
            {# <div class="col-lg-6 text-center text-lg-start">
                <img class="img-fluid animated zoomIn" src="media/images/team/team.jpg" alt="">
            </div>
            #}
        </div>
    </div>
   
</div>
