<div class="container">
{# <div class="row"> #}
    <div class="col-lg-8 col-md-10 col-sm-10 mx-auto">
        <div class="sponsor-grid wow fadeInUp" data-wow-delay="0.1s">
        {% for partner in partners %}
        <a class="btn sponsor" href="{{ partner.link }}"><img src="{{ partner.logo | url }}" alt="{{ partner.name }}"></a>
        {# <span class="btn" style="background: url({{ partner.logo }}) no-repeat center center; background-size:cover;"></span> #}
        {% endfor %}
        </div>
    </div>
{# </div> #}
</div>        


