{% extends "layouts/base.njk" %}

{% block head_extra %}

    
{% endblock  %}

{% block page_header %}

<section id="about">
    <!-- Header -->
    <div class="intro-header">
        <div class="masterhead">
            <div class="container"> 
                <div class="col-lg-6 col-md-6 col-sm-6 mx-auto main-title wow fadeInUp" data-wow-delay="0.1s">
                    <hr class="intro-divider">
                    
                    <h1 class="text-white mb-4 animated zoomIn">{{ title |safe }}</h1>
                </div>
            </div>
        
        </div>
    </div>
</section>
{% endblock %}

{% block page_main_content %}

{% include "./team/widgets/partials/member_hero.njk" %}

{% include "./team/widgets/partials/alumni_list.njk" %}

{% include "./team/collaborators.njk" %}




            
{% endblock %}
