<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
    {% include "./head.njk" %}

    {% block head_extra %}
    {% endblock  %}

</head>

<body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <div class="bg-white p-0">
        {# Navbar start #}
        {# <div class="position-relative p-0"> #}
            {% include "./navbar.njk" %}
        
        {# Navbar end  #}

        <main id="main-content">
            {% block page_header %}
            {% endblock %}

            {% block page_main_content %}
            {% endblock %}

            {% block widgets_middle %}
            {% endblock %}

            {% block widget_bottom %}
            {% endblock %}
        </main>

        
        {% block footer %}
            
        {% include "./footer.njk" %}
        
        {% endblock %}

        


        <!-- Back to Top -->
        <button type="button" class="btn btn-lg btn-primary btn-lg-square back-to-top" aria-label="Back to top">
            <i class="bi bi-arrow-up" aria-hidden="true"></i>
        </button>
    </div>

    <!-- Template Javascript -->
    <script src="{{ '/assets/js/main.js' | url }}?v={{ site.assetVersion }}" defer></script>
</body>

</html>
