<meta charset="utf-8">
<title>BhealthyAge :: {{ title }} </title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="{{ keywords }}" name="keywords">
<meta content="{{ site.metaDescription }}, {{ metaDescription }}" name="description">

<!-- Favicon -->
<link href="/assets/img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="/assets/css/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="/assets/lib/animate/animate.min.css" rel="stylesheet">
<link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="/assets/css/bootstrap.css" rel="stylesheet">


<!-- Template Stylesheet -->
<link href="/assets/css/style.css" rel="stylesheet">


<!-- Katex fonts -->
<link   rel="stylesheet" href="https://unpkg.com/katex@latest/dist/katex.min.css"/>



