<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="/" class="navbar-brand p-0">
        
        <img src="{{ site.logo | url }}" alt="Logo">
        {# <h6 class="m-0">BhealthyAge</h6> #}

    </a>
    <a class="btn btn-outline-danger btn-social" href="{{ site.youtube | url }}" target="_blank"><i class="fab fa-youtube"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
        <div class="navbar-nav ms-auto py-0">
            {% for navitem in navitems %}
                <a href="{{ navitem.dir | url }}" class="nav-item nav-link {{ 'active' if navitem.dir == page.url }}">{{ navitem.anchor }}</a>
            {% endfor %}
        </div>
    </div>
</nav>


