{% extends "layouts/base.njk" %}

{% block head_extra %}

    
{% endblock  %}

{% block page_header %}
{% include "./partials/header.njk" %}



{% endblock %}

 


{% block page_main_content %}
    {% include "./partials/mission.njk" %}

    <div class="py-6 row">
        <div class="row">
            {% include "./partials/partners.njk" %}
        </div>
    </div>
    {% include "layouts/research/main_areas.njk" %}


    {# {% include "./partials/featured_research.njk" %} #}


   {# {% include "double_column.njk" %} #}
{% endblock %}



{% block widgets_middle %}


    {# {% include "layouts/research/widgets/topics_cards_carousel.njk" %} #}

    {% include "layouts/team/widgets/team_cards.njk" %}


{% endblock %}


{% block widget_bottom %}
   {# {% include "layouts/blog/widgets/latest_blogs.njk" %} #}
{% endblock %}
