<div class="card">
   <div class="card-header">
       <h5><i class="fas fa-calendar-alt"></i> Calendar</h5>
   </div>
  

<div>
    {% for meeting in collections.meetings | reverse %}
        {% if (loop.index < 5) %}
        <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
            
            <h6 class="mb-1">  <small class="text-muted"> {{ meeting.data.date | readableDate }} </small> -- <i>{{ meeting.data.title |safe }}</i></h6> 
            {% if meeting.data.speaker %}
                <p><i class="fas fa-microphone-alt"></i> <b> {{ meeting.data.speaker }} </b></p>
                <p><i class="fas fa-map-marker-alt"></i> {{ meeting.data.place }} </p>
            {% endif %}
           
        </a>
           {% endif %}
       {% endfor %}
    
       
    </div>  
</div>    