<div class="container text-center">
  <h2 class="divider mb-4">Our key research themes</h2>
  <figure> 
    {# <figcaption></figcaption> #}
    <ul class="tree">
      <li>
      {% for item in themesTree %}
        {% if item.level == 1 %}
          <span class="default" onclick="location.href=`/topics/`">{{ item.title }}</span>
          {% if item.children %}
          <ul>
            {% for child in item.children %}
            <li>
               <span class="default" onclick="location.href=`/topics/`">{{ child.title }}</span>
               {% if child.children %}
                <ul>
                 {% for greatchild in child.children %}
                  <li>
                     <span class="target" onclick="location.href=`/topics/`">{{ greatchild.title }}</span>
                  </li>
                 {% endfor %}
                </ul>
               {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endif %}
      {% endfor %}
      </li>
    </ul>
  </figure>
</div>