
<figure> 
  {# <figcaption></figcaption> #}
  <ul class="tree">
    <li>
        <span class="default">Multimodal Image recording and Simulation</span>
        <ul>
            <li><span class="default">Neuro-Glio-Vascular Model</span></li>
            <li>
                <span class="default">Network Model</span>
                <ul>
                    <li><span class="target">Predictive Physiopathology in Healthy Aging Subjects</span></li>
                </ul>
            </li>
            <li><span class="default">Tau Protein Accumulation Model</span></li>
        </ul>
    </li>
  </ul>
</figure>