<div class="container text-center">
  <h2 class="divider mb-4">Our key research themes</h2>
  <figure> 
    {# <figcaption></figcaption> #}
    <ul class="tree">
      <li>
      {% for item in themesTree %}
        {% if item.level == 1 %}
          <a class="default" href="/topics/">{{ item.title }}</a>
          {% if item.children %}
          <ul>
            {% for child in item.children %}
            <li>
               <a class="default" href="/topics/">{{ child.title }}</a>
               {% if child.children %}
                <ul>
                 {% for greatchild in child.children %}
                  <li>
                     <a class="target" href="/topics/">{{ greatchild.title }}</a>
                  </li>
                 {% endfor %}
                </ul>
               {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endif %}
      {% endfor %}
      </li>
    </ul>
  </figure>
</div>
