<div class="research-areas-section">
        <div class="container">

          <div class="mx-auto mb-5 text-center wow fadeInUp" data-wow-delay="0.1s">
            
            <h2 class="mb-5 headline"><span>What we do</span></h2>
          </div>

          <div class="row row-flex">
            {% for t in collections.topics | sortByOrder %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
              <a class="research-area-link d-block h-100" href="{{ t.url | url }}">
              <div class="bhealthy-card bcard row-flex-content h-100">
                
                <span class="research-img">
                    <picture>
                      <source srcset="{{ t.data.illustration | webpPath | url }}" type="image/webp">
                      <img class="img-fluid" src="{{ t.data.illustration | url }}" alt="Illustration for {{ t.data.title }}" width="140" height="140" loading="lazy" decoding="async">
                    </picture>
                </span>
                <div class="mt-3">
                  <div class=""> <h5>{{ t.data.title }} </h5></div>
                  
                  <p>
                    {# {{ t.data.short_description }} #}
                    {% for subT in t.data.subThemes %}
                      {# <span class="{% if loop.last %}emphasize{% endif %}">{{subT}}</span> #}
                      <span>{{subT}}</span>
                      {% if not loop.last %}
                        &#x2022
                      {% endif %}

                    {% endfor %}
                    </p>
                    {# <p class="emphasize text-bottom">{{t.data.goal }}</p> #}
                    {# <a class="btn btn-more btn-more-dark mt-5" href="{{ t.url }}">More ...</a> #}
                  
                </div>

              </div>
              </a>
            </div>
            {% endfor %}
           
          </div>
        </div> 
      </div>
