{% extends "layouts/base.njk" %}

{% block page_header %}
{# {% include "../page_header.njk" %} #}
<div class="container hero">
    <div class="col-md-8 mx-auto text-center">
        <h2>{{ title }}</h2>
    </div>
    <div class="container col-md-8 mx-auto figure-caption">{{ short_description | safe }}</div>

</div>

{% endblock %}


{% block page_main_content %}                    

<div class="container-fluid wow fadeInUp" data-wow-delay="0.1s">
   
    {# <h2 class="mb-4">{{ title }}</h2> #}

    <div class="figure" data-wow-delay="0.1s">
        <img class="img-fluid" src="{{ illustration | url }}">
    </div>

    
    <div class="col-md-10 mx-auto mt-4 mb-4">
        <div class="row">
            <div class="col-md-8">
            {{ content | latex | safe }}
            </div>
            <div class="col-md-4">
                {% include "layouts/news/widgets/latest_news.njk" %}
            </div>
        </div>
    </div>
    
  {# {% endif %} #}
  {# {% endfor %} #}
</div>


{% endblock %}