{% extends "layouts/generic_page.njk" %}

{% block page_content_left %}
    <div class="row ml-2">
        {% for t in collections.topics %}
        <div class="col-lg-6 mb-3">
            {% ItemCard cardImageUrl = t.data.illustration, cardTitle = t.data.title, cardText = t.data.short_description, cardLink = t.url, linkText = "Read more ..." %}
        </div>    
        {% endfor %}
    </div>
{% endblock %}
