{% extends "layouts/generic_page.njk" %}




            
{% block page_content_left %}
<div class="container-fluid row wow fadeInUp" data-wow-delay="0.1s">
    <div class="mb-4 mt-4">
        <h2 class="headline mb-4 mt-4"><span>Team members </span></h2>
        {% for m in collections.members | sortByCategory %}
        <div class="container mb-2">
        {% include "./widgets/partials/member_card_single.njk" %} 
        </div>
            
        {% endfor %}
    </div>



    
</div>    
{% endblock %}
{# </div> #}
        