<div class="card">
   <div class="card-header">
       <h5>Latest News</h5>
   </div>
  

<div class="">
    {%- for n in collections.news -%}
        {% if (loop.index < 5) %}
        <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
            
            <p class="mb-1">{{ n.data.title |safe }}</p>
            <small class="text-muted"> {{ n.data.news_date }} </small>
        </a>
           {% endif %}
       {%- endfor -%}
    
       
    </div>  
</div>    