
<div class="container-fluid bg-light py-6">
    <div class="container">
        <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 100%;">
            <h2 class="divider mb-5"> Our research topics</h2>
        </div>
        <div class="owl-carousel topics-cards-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% for t in collections.topics %}
            {% ItemCard cardImageUrl = t.data.illustration, cardTitle = t.data.title, cardText = t.data.short_description, cardLink = t.url, linkText = "View more ..." %}
            {% endfor %}
        </div>
    </div>
</div>
     
