--- 
permalink : /
layout: layouts/home/home.njk
title: Biomedical Imaging and Healthy Aging Lab 
metaDescription: "Dr. Habib Benali's Lab"
keywords: "Neuroimaging, Networks, Brain networks, Functional connectivity, homology, simplicial homology, network neuroscience"

page_header_title: Biomedical Imaging and Healthy Aging Laboratory
page_header_text: |
    
--- 
