--- 
permalink : /
layout: layouts/home/home.njk
title: Biomedical Imaging and Healthy Aging Lab 
metaDescription: "Dr. Habib Benali's Lab"
keywords: "Neuroimaging, Networks, Brain networks, Functional connectivity"

page_header_title: Biomedical Imaging and Healthy Aging Laboratory
page_header_text: |
    Tempor rebum no at dolore lorem clita rebum rebum ipsum rebum stet dolor sed justo kasd. Ut dolor sed magna dolor sea diam. Sit diam sit justo amet ipsum vero ipsum clita lorem 
--- 
