--- 
permalink: /resources/
layout: layouts/resources/resources_home.njk 
title: Learning and other Resources
metaDescription: Explore lecture notes, slides, and learning resources shared by the bHealthyAge Lab.
---
