---
permalink: /topics/
layout: layouts/research/topics_list.njk
title: Research themes 
metaDescription: "Dr. Habib Benali's Lab"
keywords: "Neuroimaging, Networks, Brain networks, Functional connectivity"
---