{% extends "layouts/base.njk" %}

{% block page_header %}
{% include "./page_headers/home_header.njk" %}
{% endblock %}


{% block page_content %}
    {% include "./page_contents/home_content.njk" %}             
{% endblock %}


{% block widgets_middle %}
   {% include "layouts/widgets/middle_content.njk" %}
{% endblock %}

