
<div class="container-xxl bg-primary bg-header">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <h1 class="text-white mb-4 animated zoomIn">{{ title |safe }}</h1>
                <p class="text-white pb-3 animated zoomIn"> {{ teaser |safe }} </p>
                {# <a href="" class="btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight">More ...</a> #}
            </div>
            <div class="col-md-6 text-center text-lg-start">
                {# <img class="img-fluid animated zoomIn" src="assets/img/brain_bottom.png" alt=""> #}
            </div>
        </div>
    </div>
</div>